/* Train */
@font-face {
  font-family: subway;
  src: url(../../fonts/subway.ttf);
  src: url(../../fonts/subway.woff);
}

.train {
  display: flex;
  padding: 3em;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: space-around;
  background: black url(../../img/train.jpg) no-repeat top center;
  background-size: 100% auto;
  background-attachment: fixed;
}

.train__story {
  max-width: 700px;
  flex: 1 1 auto;
  margin-top: 5em;
}

.train__ticker {
  color: #ffc000;
  position: fixed;
  text-transform: uppercase;
  font-family: subway;
  padding: 0.7em 0.7em;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  background: black;
}

.train__next_stop {
  font-weight: normal;
  font-size: 2.0em;
}

.train__info {
  font-weight: normal;
  font-size: 1.3em;
}

.train__exit_button {
  width: 200px;
  margin-top: 10em;
}

.exit_button {
  position: fixed;
}

.exit_button {
  outline: 0;
  word-break: break-all;
  background: #249a3f;
  background-image: linear-gradient(to bottom, #249a3f, #175f27);
  border-radius: 28px;
  box-shadow: 0px 0px 20px 0px black;
  color: #333;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1em;
  border: none;
  margin-bottom: 5em;
}

.exit_button--active {
  background: #34d95a;
  color: #555;
  background-image: linear-gradient(to bottom, #34d95a, #269e40);
  box-shadow: 0px 0px 20px 0px #249a3f;
  cursor: pointer;
;
}


/* Platform */

.platform {
  display: flex;
  padding: 3em;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: space-around;
  background: black url(../../img/platform.jpg) no-repeat top center;
  background-size: 100% auto;
  background-attachment: fixed;
}

.platform__story {
  margin-right: 3em;
  max-width: 700px;
  flex: 1 1 auto;
}

.platform__platform_info {
  margin-top: 5em;
  flex: 0 0 auto;
  width: 330px;
}

.platform_info {
  position: fixed;
  width: 330px;
}

.platform_info {
  border: 0.3em solid #333;
  background: white;
  border-radius: 1.1em 1.1em 0 0;
}

.platform_info__name {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2.5em;
  padding: 0.2em 0.7em;
  background: #333;
  color: white;
}
.platform_info__connections {
  padding: 0.4em 0em;
}

.connection {
  display: flex;
  align-items: center;
  padding: 0.8em 1em;
}
.connection__number {
  background: white;
  border: 3px solid;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 0.5em;
  cursor: pointer;
}
.connection__direction {
  font-size: 1.0em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

