* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

p {
  margin-bottom: 15px;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 5px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 4px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 3px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: sans-serif;
  font-family: helvetica;
}

.Loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 1.8em;
  font-weight: normal;
  color: white;
  background-color: black;
}

.SelectScene {
  font-size: 1.8em;
  color: white;
  padding: 10% 30%;
}

.Scene.TitleScene {
  color: white;
  font-size: 1.8em;
  animation: fadeIn 2s ease-out forwards;
}

.TitleContent {
  position: relative;
}
.Title {
  font-size: 3em;
}

.Scene.MainTitleScene {
  color: white;
  font-size: 1.8em;
  overflow: auto;
  position: initial;
}

.MainTitleContent {
  color: white;
  position: absolute;
  top: 5em;
  left: 10em;
  right: 10em;
}

@media (max-width: 800px) {
  .MainTitleContent {
    left: 3em;
    right: 3em;
  }
}

.MainTitleContent img {
  animation: flicker 0.3s cubic-bezier(0.84, 0.17, 0.54, 1.35) alternate
    infinite 0s;
  max-width: 600px;
  margin: auto;
  display: block;
  margin-top: -3em;
}

.SelectScene li {
  list-style: circle;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.game {
  position: relative;
  background: black;
  width: 100%;
  min-height: 100vh;
}

.map {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.map__image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1em;
  margin: auto;
  max-height: 90%;
  border: 1px solid black;
  box-shadow: 0 0 100px 0px black;
  border-radius: 2px;
}

.map__image:first-child {
  background: #fff;
}

.Scene {
  background: black;
  opacity: 1;
  animation: fadeIn 0.3s linear forwards;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Scene:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  max-height: 100vh;
}

.Errors {
  font-size: 1em;
}

.Errors code {
  font-size: 1em;
  font-family: monospace, monospace;
}

.Debug {
  position: absolute;
  top: 0;
  opacity: 0.8;
}
