.Notebook__scrim {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.Notebook {
  display: flex;
  justify-content: space-around;
  color: black;
  font-family: "Nanum Pen Script", cursive;
  background: center no-repeat url("../img/notebook.jpg");
  background-size: contain;
  box-shadow: 0 0 100px 0px black;
  width: 800px;
  height: 511px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
  padding-top: 2em;
  font-size: 2em;
}

.Notebook__page {
  flex: 0 0 auto;
  width: 40%;
  padding-left: 1em;
}

.Notebook__subitem {
  font-size: 0.8em;
  padding-left: 1em;
}

.Notebook__subitem {
  text-decoration: line-through;
}

.Notebook__subitem:last-child {
  text-decoration: none;
}
