.Scene.CentralGuardOffice {
  justify-content: flex-start;
}

.Scene.CentralGuardOffice:before {
  background-image: url(../img/gurad-office.jpg);
  background-position: 50% 40%;
  opacity: 0.6;
  animation: flicker 0.3s cubic-bezier(0.84, 0.17, 0.54, 1.35) alternate
    infinite 0s;
}

.CentralGuardOffice--top {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  padding: 0.4em 0.7em;
  color: white;
  background: black;
  position: relative;
}

.CentralGuardOffice--content {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
  color: #ccc;
  padding: 5em;
  background: black;
  margin-top: 3em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
