.Lobby {
}

.Lobby:before {
  background: url(../img/subway-lobby.jpg);
  opacity: 0.8;
  animation: flicker 0.3s cubic-bezier(0.84, 0.17, 0.54, 1.35) alternate
    infinite 0s;
}

.Lobby__scene {
  padding: 5em 3em;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

/* Sign */

.Sign {
  position: fixed;
  padding: 1em;
  background: #1a1a1a;
  color: white;
}

.Sign--station::before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0;
  right: 0;
  height: 1px;
  background: white;
}

.Sign--station {
  top: 40px;
}

.Sign--chapter {
  opacity: 0.8;
  top: 40px;
  left: 40px;
}

.Sign--inventory {
  opacity: 0.8;
  bottom: 40px;
  left: 40px;
}

.Sign__header1 {
  font-size: 2.4em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.Sign__header2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1em;
}

.Sign__header3 {
  font-weight: bold;
  margin-bottom: 0.2em;
}

.Sign__section {
  padding-bottom: 0.5em;
}

.Sign__section:last-child {
  padding-bottom: 0;
}

.Sign__list {
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.3em 0;
}

.Sign__split {
  display: flex;
}

.Sign__right {
  flex: 1 0 auto;
}

.Sign__left {
  width: 12em;
}

.Sign__item {
  padding: 0.3em 0;
}

.Sign__item--interactable {
  cursor: pointer;
}

.Sign__item--interactable:last-child {
  padding-bottom: initial;
}

.Sign__item--list {
  list-style: circle;
  margin-left: 1em;
}

.Sign__goals_group {
  margin-bottom: 2em;
}

/* Connections */

.Connections {
  padding: 0.2em 0;
  display: flex;
  font-size: 1.6em;
  flex-wrap: wrap;
}

.Connection {
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  font-weight: bold;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  /* padding-top to compensate for numbers baseline */
  padding-top: 3px;
  justify-content: center;
  flex: 0 0 auto;
}

.Connections .Connection {
  cursor: pointer;
}

/* Line colors */

.RED_LINE {
  background: #FD0000;
}
.YELLOW_LINE {
  background: #FFD107;
}
.GREEN_LINE {
  background: #08A84E;
}
.ORANGE_LINE {
  background: #FE8200;
}
.BLUE_LINE {
  background: #0487F6;
}
.DARK_BLUE_LINE {
  background: #4352A2;
}
.PURPLE_LINE {
  background: #9547AA;
}
.BROWN_LINE {
  background: #9E4F2F;
}
.GRAY_LINE {
  background: #A5A5A5;
}



.Inventory {
  display: flex;
}

.Inventory__item {
  cursor: pointer;
  margin: 0 1em;
  height: 3em;
  width: 3em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Media queries */

@media (max-width: 1024px) {
  .Sign--chapter {
    display: none;
  }
}
