.Lobby {
  background: black;
  padding: 3em;
  opacity: 1;
  animation: fadeIn 0.3s linear forwards;
  font-family: helvetica;
  user-select: none;
}

.Lobby:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/subway-lobby.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  animation: flicker 0.3s cubic-bezier(0.840, 0.170, 0.540, 1.350) alternate infinite 0s;
  max-height: 100vh;
}

.Lobby__scene {
  padding: 5em 3em;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}


/* Sign */

.ChapterName {
  position: fixed;
  bottom: 60px;
  right: 0;
  background: white;
  color: black;
  width: 30%;
  padding: 0.2em 1em;
  font-size: 1.4em;
  font-weight: bold;
}


.Sign {
  position: relative;
  max-width: 33%;
  padding: 1em;
  background: #1a1a1a;
  color: white;
}

.Sign::before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0;
  right: 0;
  height: 1px;
  background: white;
}

.Sign--station {
  position: fixed;
  top: 40px;
}

.Sign--interactables {
  position: fixed;
  left: 20px;
  top: 150px;
}


.Sign__header1 {
  font-size: 2.4em;
  font-weight: bold;
}

.Sign__header2 {
  font-size: 1.4em;
  font-weight: bold;
}

.Sign__section {
  padding-bottom: 0.5em;
}

.Sign__section:last-child {
  padding-bottom: 0;
}

.Sign__list {
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.3em 0;
}

.Sign__item {
  padding: 0.2em 0;
}

.Sign__item--interactable {
  cursor: pointer;
}

/* Connections */

.Connections {
  padding: 0.2em 0;
  display: flex;
  font-size: 1.7em;
}

.Connection {
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  font-weight: bold;
  margin-right: 0.3em;
  /* padding-top to compensate for numbers baseline */
  padding-top: 3px;
  justify-content: center;
  flex: 0 0 auto;
}

.Connections .Connection {
  cursor: pointer;
}

/* Line colors */

.redLine {
  background: #E13915;
}
.yellowLine {
  background: #D9AD02;
  color: black;
}
.greenLine {
  background: #019966;
}
