.Notebook__scrim {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.Notebook {
  color: black;
  font-family: "Nanum Pen Script", cursive;
  background: center no-repeat url("../img/notebook.jpg");
  background-size: contain;
  box-shadow: 0 0 100px 0px black;
  width: 800px;
  height: 511px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
  padding: 1em;
  font-size: 2em;
}

.done > .Notebook__subheading {
  text-decoration: line-through;
}

.Notebook__page {
  user-select: none;
  padding: 0 1em;
  width: 100%;
  height: 100%;
  padding-left: 1em;
}

.Notebook__header {
  font-size: 0.8em;
  text-decoration: underline;
  margin-bottom: 1em;
}

.Notebook__tabs {
  display: flex;
  position: absolute;
  justify-content: space-around;
  transform: rotate(90deg);
  left: 70%;
  width: 500px;
  top: 50%;
}

.Notebook__tab {
  padding: 0.15em 0.2em;
  background: #888;
  font-size: 1em;
  user-select: none;
  cursor: pointer;
}

.Notebook__tab:hover {
  text-decoration: underline;
}

.Notebook__content {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
  justify-content: space-between;
  align-content: flex-start;
}

.Notebook__item {
  flex: 0 1 46%;
  margin-bottom: 1em;
}

.Notebook__subitem {
  font-size: 0.8em;
  padding-left: 1em;
}

.Notebook__subitem {
  text-decoration: line-through;
}

.Notebook__subitem:last-child {
  text-decoration: none;
}

.Notebook__save-new {
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 2em;
  padding: 0;
  margin: 0;
  line-height: 0.5em;
}

.Notebook__item--savedGame {
  cursor: pointer;
}

.Notebook__persistKeyInput {
  position: absolute;
  top: 2.8em;
  right: 2em;
  width: 15em;
  text-align: right;
  outline: none;
  background: none;
  font-family: "Nanum Pen Script", cursive;
  font-size: 0.7em;
  border: none;
}

.Notebook__item-delete {
  font-size: 0.6em;
  margin-left: 0.5em;
  cursor: pointer;
}

.Notebook__item-delete:hover,
.Notebook__item--savedGame:hover,
.Notebook__save-new:hover {
  text-decoration: underline;
}
