.Platform {
  background: black;
  padding: 3em;
  opacity: 1;
  animation: fadeIn 0.3s linear forwards;
}

.Platform:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/train.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  animation: flicker 0.3s cubic-bezier(0.840, 0.170, 0.540, 1.350) alternate infinite 0s;
  max-height: 100vh;
}

.Exit {
  user-select: none;
  background: #1a1a1a;;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3em;
  border: 0.1em solid black;
  padding: 0.3em;
  position: fixed;
  left: 2em;
  top: 2em;
  color: white;
  z-index: 1;
}

.Exit::before {
  content: "";
  position: absolute;
  top: 0.1em;
  left: 0;
  right: 0;
  height: 1px;
  background: white;
}


.Exit__text {
  margin-left: 0.5em;
}

.Arrow {
  cursor: pointer;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  position: relative;
}

.Arrow::before {
  content: "";
  display: block;
  height: 3px;
  width: 13px;
  transform: rotate(45deg);
  background: white;
  position: absolute;
  bottom: 3px;
  right: -2px;
}

/* Line map */

.Line_map {
  position: relative;
  margin: auto;
  user-select: none;
  padding: 1em;
  width: 330px;
  border: 0.2em solid #333;
  background: white;
  border-radius: 1.1em;
}

.Line_map__info {
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.7em;
  justify-content: center;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

.Line_map__stops {
  position: relative;
}

.Line_map__line {
  position: absolute;
  width: 20px;
  left: 88px;
  top: 22px;
  bottom: 22px;
  border-radius: 20px;
}


/* Stop */

.Stop {
  display: flex;
  padding: 0 0.8em;
  height: 4em;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.Stop__connections {
  width: 4em;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.7em;
}

.Stop__name {
}

.Stop__name--current {
  font-weight: bold;
}

.Stop__dot {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 1em;
  border-radius: 50%;
}

.Stop__dot::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  background: white;
}

.Stop__dot--current {
  width: 26px;
  height: 26px;
  margin-left: -3px;
}
