.StoryLine {
  user-select: none;
  padding: 5em 3em;
  background: #1a1a1a;;
  color: white;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.1em;
  font-family: "Quicksand", "helvetica";
  position: absolute;
  top: 0.5em;
  left: 2em;
  right: 2em;
  animation: fadeIn 0.3s linear forwards;
}

.StoryLine p {
  margin-bottom: 1.2em;
}

/* shim (prevent clicking on other interatables) */
.StoryLine::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.StoryLine::after {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0;
  right: 0;
  height: 1px;
  background: white;
}

.StoryLine__content {
  width: 100%;
  position: relative;
}

.StoryLine__content code {
  overflow: hidden;
  white-space: pre-wrap;
}

.StoryLine__continue {
  font-weight: bold;
  cursor: pointer;
  padding-top: 2em;
  text-align: center;
  display: block;
}

.StoryLine pre {
  font-size: 0.7em;
  font-family: "serif";
  line-height: 1.2em;
}

.StoryLine strong {
  font-weight: bold;
}

.StoryLine em {
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
