.StoryLine {
  padding: 4em 6em;
  color: white;
  background: rgba(0,0,0,0.8);
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: normal;

}

.StoryLine__Item {
  margin-bottom: 2em;
  padding: 20px 10px;
  position: relative;
}

.u-fade-in {
  max-height: 0;
  overflow: hidden;
  animation: fadeIn 1s linear forwards,
  slideDown 3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes slideDown {
  to {
    max-height: 2400px;
  }
}

