.StoryLine {
  user-select: none;
  padding: 5em 3em;
  background: #1a1a1a;;
  color: white;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.5em;
  position: absolute;
  top: 0.5em;
  left: 2em;
  right: 2em;
  animation: fadeIn 0.3s linear forwards;
}

.StoryLine::before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0;
  right: 0;
  height: 1px;
  background: white;
}

.StoryLine__content {
  width: 100%;
}

.StoryLine__content code {
  overflow: hidden;
  white-space: pre-wrap;
}

.StoryLine__continue {
  font-weight: bold;
  cursor: pointer;
  padding-top: 2em;
  text-align: center;
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
