/* Train */
@font-face {
  font-family: subway;
  src: url(../fonts/subway.ttf);
  src: url(../fonts/subway.woff);
}

.train {
  display: flex;
  padding: 3em;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: space-around;
  background: black url(../img/train.jpg) no-repeat top center;
  background-size: 100% auto;
  background-attachment: fixed;
}

.train__story {
  max-width: 700px;
  flex: 1 1 auto;
  margin-top: 5em;
}

.train__ticker {
  color: #ffc000;
  position: fixed;
  text-transform: uppercase;
  font-family: subway;
  padding: 0.7em 0.7em;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  background: black;
  user-select: none;
}

.train__next_stop {
  font-weight: normal;
  font-size: 2.0em;
}

.train__info {
  font-weight: normal;
  font-size: 1.3em;
}

.train__exit_button {
  width: 200px;
  margin-top: 10em;
}

.exit_button {
  user-select: none;
  position: fixed;
  outline: 0;
  word-break: break-all;
  background: #249a3f;
  background-image: linear-gradient(to bottom, #249a3f, #175f27);
  border-radius: 28px;
  box-shadow: 0px 0px 20px 0px black;
  color: #333;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1em;
  border: none;
  margin-bottom: 5em;
}

.exit_button--active {
  background: #34d95a;
  color: #555;
  background-image: linear-gradient(to bottom, #34d95a, #269e40);
  box-shadow: 0px 0px 20px 0px #249a3f;
  cursor: pointer;
;
}


/* Platform */

.platform {
  display: flex;
  padding: 3em;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: space-around;
  background: black url(../img/platform.jpg) no-repeat top center;
  background-size: 100% auto;
  background-attachment: fixed;
}

.platform__story {
  margin-right: 3em;
  max-width: 700px;
  flex: 1 1 auto;
}

.platform__name {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2.5em;
  padding: 0.4em 0.7em;
  background: #222;
  color: white;
  margin-bottom: 2em;
}

.platform__exit {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5em;
  border: 0.2em solid black;
  padding: 0.3em;
  color: #111;
  background: white;
  margin-bottom: 2em;
}

.platform__train {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.0em;
  border: 0.2em solid #222;
  padding: 0.3em;
  color: #111;
  background: white;
  margin-bottom: 2em;
}

.platform__line {
  cursor: pointer;
  background: white;
  border: 3px solid;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* ConnectingHalls */

.connecting_halls {
  display: flex;
  padding: 3em;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: black url(../img/tile.jpg) repeat;
  background-attachment: fixed;
}


/* Connections */

.connections {
  background: white;
  user-select: none;
  position: fixed;
  padding: 0 1em;
  width: 330px;
  border: 0.2em solid #333;
  background: white;
  border-radius: 1.1em;
}

.connection {
  display: flex;
  align-items: center;
  padding: 0.8em 0em;
  cursor: pointer;
  border-bottom: 1px solid #222;
}

.connection:last-of-type {
  border-bottom: none;
}

.connection__number {
  background: white;
  border: 3px solid;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 0.5em;
  cursor: pointer;
}
.connection__direction {
  cursor: pointer;
  font-size: 1.0em;
  font-weight: bold;
  text-transform: uppercase;
  flex: 1 0 auto;
}

.connection__arrow {
  cursor: pointer;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5em;
}

