/* Station */

.station {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.station__story {
  flex: 1 0 auto;
}

.station__connections {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5em;
  border: 0.1em solid black;
  padding: 0.3em;
  color: #111;
  background: white;
  position: absolute;
  right: 1em;
}
.station__top {
  flex: 0 0 auto;
  background: black url(../img/tile.jpg);
  background-size: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.station__name {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2em;
  padding: 0.4em 0.7em;
  color: #222;
  background: #eee;
  border: 0.1em solid #222;
}

.station__line {
  cursor: pointer;
  background: white;
  border: 3px solid;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* ConnectingHalls */

.connecting_halls {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: black url(../img/tile.jpg);
}

.line_maps {
  flex: 1 0 auto;
  display: flex;
  padding: 3em;
  justify-content: space-evenly;
}

/* Connections */

.line_map {
  background: white;
  user-select: none;
  padding: 1em;
  width: 330px;
  border: 0.2em solid #333;
  background: white;
  border-radius: 1.1em;
  flex: 0 0 auto;
}

.line_info {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.5em;
  justify-content: center;
  padding-right: 1em;
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

.line_info__number {
  background: white;
  border: 3px solid;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 0.5em;
  cursor: pointer;
}
.connection__direction {
  cursor: pointer;
  font-size: 1.0em;
  font-weight: bold;
  text-transform: uppercase;
  flex: 1 0 auto;
}

.connection__arrow {
  cursor: pointer;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5em;
}

.line_map__stops {
  position: relative;
}

.line_map__stop {
  display: flex;
  padding: 0 0.8em;
  height: 4em;
  align-items: center;
  position: relative;
}

.line_map__stop_connections {
  width: 4em;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.7em;
}

.line_map__stop_connection {
  color: white;
  border: 3px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  font-weight: bold;
}

.connection_name {
}

.connection_name--current {
  font-weight: bold;
}

.station_dot {
  width: 20px;
  height: 20px;
  margin-right: 1em;
  border-radius: 50%;
  border: 3px solid;
  background: white;
}

.station_dot--current {
  width: 26px;
  height: 26px;
  margin-left: -3px;
}

.line_map__line {
  position: absolute;
  width: 20px;
  left: 88px;
  top: 22px;
  bottom: 22px;
  border-radius: 20px;
}

