/* Train */
@font-face {
  font-family: subway;
  src: url(../fonts/subway.ttf);
  src: url(../fonts/subway.woff);
}

.train {
  width: 100%;
  min-height: 100vh;
  background: black;
  position: absolute;
}

.train__background {
  background: linear-gradient(to right, #000000 0%,#5e5740 40%,#eee 50%,#5e5740 60%,#000000 100%);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: -150%;
  animation: scroll 0.7s linear forwards infinite 1.1s;
}

@keyframes scroll {
  from {
    left: 150%;
  }
  
  to {
    left: -150%
  }
}

.train__foreground {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.train__door {
  height: 100vh;
  width: 50%;
  display: inline-block;
  position: relative;
}

.train__door::before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  border: 0 solid gray;
  border-top-width: 6em;
  border-left-width: 10em;
  border-right-width: 10em;
  border-bottom-width: 10em;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.train__door--left {
  border-right: 0.5em solid black;
}

.train__door--right {
}

.train__top {
  color: #ffc000;
  text-transform: uppercase;
  font-family: subway;
  padding: 1.0em;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  background: black;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #555 0%,#222 100%);
}

.train__ticker {
  background: black;
  border: 0.5em solid #444;
  padding: 0.5em 0.8em;
  min-width: 35em;
}

.train__info {
  font-weight: normal;
  font-size: 1.4em;
  height: 1.4em;
}

