/* Train */
@font-face {
  font-family: subway;
  src: url(../fonts/subway.ttf);
  src: url(../fonts/subway.woff);
}

.Scene.train {
  justify-content: flex-start;
  animation: bump 0.6s cubic-bezier(0.84, 0.17, 0.54, 1.35) alternate infinite
    0s;
}

.Scene.train:before {
  background-image: url(../img/riding-train.jpg);
  background-position: 50% 40%;
  opacity: 0.6;
  animation: flash 0.9s ease-in-out alternate infinite 0s;
}

@keyframes flash {
  0% {
    opacity: 0.6;
  }

  10% {
    opacity: 0.58;
  }

  70% {
    opacity: 0.65;
  }

  80% {
    opacity: 0.6;
  }

  90% {
    opacity: 0.69;
  }

  100% {
    opacity: 0.7;
  }
}

@keyframes bump {
  0% {
    transform: translateY(0);
    transform: translateX(0);
  }

  20% {
    transform: translateX(-1px);
  }

  30% {
    transform: translateY(-3px);
  }

  70% {
    transform: translateX(1px);
  }

  100% {
    transform: translateY(0);
    transform: translateX(0);
  }
}

.train__ticker {
  color: #ffc000;
  text-transform: uppercase;
  font-family: subway;
  padding: 1em;
  text-align: center;
  position: relative;
  top: -0.5em;
  border: 0.3em solid #333;
  padding: 0.6em 0.8em;
  border-radius: 5px;
  background: black;
  min-width: 40em;
}

.train__info {
  font-weight: normal;
  font-size: 1.4em;
}
