.Turnstile {
}

.Scene.Turnstile:before {
  background-image: url(../img/subway-turnstile.jpg);
  background-position: center 72%;
  opacity: 0.8;
  animation: flicker 0.3s cubic-bezier(0.84, 0.17, 0.54, 1.35) alternate
    infinite 0s;
}

.Turnstile__dialog {
  user-select: none;
  padding: 2em 3em;
  background: #1a1a1a;
  position: relative;
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5em;
  text-align: center;
}

.Turnstile__status {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.Turnstile__icon {
  width: 2.7em;
  height: 2.7em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1em;
  flex: 0 0 auto;
}

.Turnstile__status_text {
  font-size: 1.5em;
  font-family: "arial";
  text-transform: uppercase;
}

.Turnstile__status_sub_text {
  font-size: 0.8em;
  text-transform: uppercase;
  font-family: "arial";
}

.Turnstile__buttons {
  display: flex;
  justify-content: space-around;
}

.Turnstile__button {
  font-weight: bold;
  cursor: pointer;
  padding-top: 2em;
  text-align: center;
  display: block;
}

.Turnstile__button:hover {
  color: orange;
}


